.header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px;
}
.header div{
    display: flex;
    gap: 10px;
}
.header div span a{
    all: unset;
    cursor: pointer;
}
